h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
:root{
    --main-color:#e65f78 ;
}
body{
    font-family: "Nunito Sans", sans-serif;
    /* overflow-x: auto; */
}
a{
    text-decoration: none;
}
.main-color{
    color: var(--main-color);
}
/* ///////////////////////// */
.navbar{
    background-color: #161a28;
}
.navbar .navbar-brand{
    font-weight: 900;
}
.navbar .nav-link.active{
    color: var(--main-color);
}
.navbar .nav-link.active::after{
    content: '';
    background-color: var(--main-color);
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.navbar .nav-link{
    position: relative;
    margin-inline: 0.5rem;
    overflow: hidden;
}
.navbar .nav-link::after{
    content: '';
    background-color: var(--main-color);
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: -100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.navbar .nav-link:hover::after{
    left: 5%;
}

.navbar .main-drop{
    position: relative;
}

.navbar .main-drop .main-menu{
    display: block;
    position: absolute;
    top: 130%;
    left: 15%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.navbar .main-drop:hover .main-menu{
    opacity: 1;
    top: 100%;
}


.navbar .deep-drop{
    position: relative;
}

.navbar .deep-drop .deep-menu{
    display: block;
    position: absolute;
    top: 130%;
    left: 15%;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.navbar .deep-drop:hover .deep-menu{
    opacity: 1;
    top: 100%;
}


/* ------------------------------- */
.home{
    background-image: url(../images/header-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home>.layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0 ;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .anmi::after{
    content: '';
    font-size: 60px;
    animation: typing 8s alternate infinite;
    -webkit-animation: typing 8s alternate infinite;
}
.home .slide-up a{
    color: var(--main-color);

}
.home .slide-up{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(0,-50%);
    rotate:270deg ;
    font-size: 30px;

    animation: slide 1s alternate infinite ;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -webkit-animation: slide 1s alternate infinite ;
}
@keyframes slide {
    0%{
        bottom: 5px;
    }
    20%{
        bottom: 10px;
    }
    40%{
        bottom: 15px;
    }
    60%{
        bottom: 20px;
    }
    80%{
        bottom: 25px;
    }
    100%{
        bottom: 30px;
    }
}

@keyframes typing {
    0%{
        content: ' |';
    }
    3%{
        content: 'D';
    }
    6%{
        content: 'De |';
    }
    9%{
        content: 'Dev';
    }
    12%{
        content: 'Deve |';
    }
    15%{
        content: 'Devel';
    }
    18%{
        content: 'Develo |';
    }
    20%{
        content: 'Develop';
    }
    23%{
        content: 'Develope |';
    }
    26%{
        content: 'Developer';
    }
    29%{
        content: 'Develope |';
    }
    32%{
        content: 'Develop';
    }
    35%{
        content: 'Develo |';
    }
    38%{
        content: 'Devel';
    }
    41%{
        content: 'Deve |';
    }
    44%{
        content: 'Deve';
    }
    47%{
        content: 'Dev |';
    }
    50%{
        content: 'De';
    }
    53%{
        content: 'D';
    }
    56%{
        content: '|';
    }
    59%{
        content: ' |';
    }
    61%{
        content: 'D';
    }
    64%{
        content: 'De |';
    }
    67%{
        content: 'Des';
    }
    70%{
        content: 'Desi|';
    }
    73%{
        content: 'Desig';
    }
    76%{
        content: 'Design |';
    }
    79%{
        content: 'Designe';
    }
    81%{
        content: 'Designer |';
    }
    84%{
        content: 'Designe';
    }
    87%{
        content: 'Design |';
    }
    90%{
        content: 'Desig';
    }
    92%{
        content: 'Des |';
    }
    93%{
        content: 'De';
    }
    94%{
        content: 'D|';
    }
    95%{
        content: '|';
    }
    96%{
        content: '';
    }
    97%{
        content: '|';
    }
    98%{
        content: '';
    }
    10%{
        content: '|';
    }
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5s steps(40, end) alternate infinite,
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


.portfolio .nav .nav-item .nav-link{
    color: #161a28;
}
.portfolio .nav .nav-item .nav-link.active{
    background-color: var(--main-color) !important;
    color: #fff;
   

}
.brand-icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
}
.brand-icon:hover{
    color: var(--main-color);
    border-color:var(--main-color) !important ;
    cursor: pointer;
}
/* ================================================ */

.slider-img{
    width: 150px;
    height: 150px;
}
.carousel-indicators button{
    background-color: var(--main-color) !important;
    width: 10px !important;
    padding: 5px !important;
    border-radius: 60% !important;
    -webkit-border-radius: 60% !important;
    -moz-border-radius: 60% !important;
    -ms-border-radius: 60% !important;
    -o-border-radius: 60% !important;
}
.carousel-indicators button.active{
    width: 20px !important;
    padding: 10px !important;
   
}